<div align="center"> <h1>Country Cropland-Fires Emissions CSV</h1></div>

### About This Notebook
This notebook explores the contents of the csv file.
Various exploratory techniques will be used to analyze the content of the csv and perform any necessary cleanups.

In [1]:
# Import necessary libraries to use for the exploration & analysis
import csv 
import pandas as pd
import matplotlib.pyplot as plt

# Set up the number of columns to use when showing a data frame using pandas
pd.set_option('display.max_columns', 200)

In [2]:
# Import the csv file and convert it to a pandas data frame 
df = pd.read_csv("../data/agriculture/country_cropland-fires_emissions.csv")

In [3]:
# Show the shape of the data frame (rows, columns)
# The returned value is the number of rows and columns in the dataframe
df.shape

(8785, 10)

In [4]:
# Show the first 5 rows by using the head command
df.head()

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity,created_date,modified_date
0,GUF,2021-01-01 00:00:00,2021-12-31 00:00:00,cropland-fires,co2,0.000000e+00,tonnes,annual,2022-08-09 15:18:51.401595,NaN
1,AFG,2015-01-01 00:00:00,2015-12-31 00:00:00,cropland-fires,co2,2.587182e+04,tonnes,annual,2022-08-09 15:18:51.338749,2022-10-11 06:39:21.192964
2,AGO,2021-01-01 00:00:00,2021-12-31 00:00:00,cropland-fires,co2,3.695608e+06,tonnes,annual,2022-08-09 15:18:51.339924,2022-10-11 06:39:21.192964
3,AGO,2021-01-01 00:00:00,2021-12-31 00:00:00,cropland-fires,ch4,1.885972e+04,tonnes,annual,2022-08-09 15:18:51.339929,2022-10-11 06:39:21.192964
4,AGO,2021-01-01 00:00:00,2021-12-31 00:00:00,cropland-fires,n2o,2.245205e+02,tonnes,annual,2022-08-09 15:18:51.339933,2022-10-11 06:39:21.192964

In [5]:
# List out the columns 
columns = df.columns

index = 0 
print("Column Index\t Column Name")
for column in columns:
    print(f"{index}\t\t {column}")
    index += 1

Column Index	 Column Name
0		 iso3_country
1		 start_time
2		 end_time
3		 original_inventory_sector
4		 gas
5		 emissions_quantity
6		 emissions_quantity_units
7		 temporal_granularity
8		 created_date
9		 modified_date

In [6]:
# Check the data type of the column's content
df.dtypes

iso3_country                  object
start_time                    object
end_time                      object
original_inventory_sector     object
gas                           object
emissions_quantity           float64
emissions_quantity_units      object
temporal_granularity          object
created_date                  object
modified_date                 object
dtype: object

#### Here are some of the keys for understanding pandas data types

object => String

float64 => Float

In [7]:
# Check on the overal distribution of all numerical data columns
df.describe()

       emissions_quantity
count        8.785000e+03
mean         6.733472e+05
std          2.682089e+06
min          0.000000e+00
25%          0.000000e+00
50%          1.570820e+02
75%          5.472715e+04
max          4.095321e+07

In [8]:
# Check on the summarized technical information of the pandas dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         8785 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       8785 non-null   object
 8   created_date               8785 non-null   object
 9   modified_date              5862 non-null   object
dtypes: float64(1), object(9)
memory usage: 686.5+ KB