<div align="center"> <h1>Country_Synthetic-Fertilizer-Application Emissions CSV</h1></div>

### About This Notebook
This notebook explores the contents of the csv file.
Various exploratory techniques will be used to analyze the content of the csv and perform any necessary cleanups.

In [1]:
# Import necessary libraries to use for the exploration & analysis
import csv 
import pandas as pd
import matplotlib.pyplot as plt

# Set up the number of columns to use when showing a data frame using pandas
pd.set_option('display.max_columns', 200)

In [2]:
# Import the csv file and convert it to a pandas data frame 
df = pd.read_csv("../data/agriculture/country_synthetic-fertilizer-application_emissions.csv")

In [3]:
# Show the shape of the data frame (rows, columns)
# The returned value is the number of rows and columns in the dataframe
df.shape

(8750, 10)

In [4]:
# Show the first 5 rows by using the head command
df.head()

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity,created_date,modified_date
0,ABW,2015-01-01 00:00:00,2015-12-31 00:00:00,synthetic-fertilizer-application,n2o,NaN,tonnes,annual,2022-08-09 14:12:06.602861,NaN
1,ABW,2015-01-01 00:00:00,2015-12-31 00:00:00,synthetic-fertilizer-application,co2e_100yr,NaN,tonnes,annual,2022-08-09 14:12:06.602883,NaN
2,ABW,2015-01-01 00:00:00,2015-12-31 00:00:00,synthetic-fertilizer-application,co2e_20yr,NaN,tonnes,annual,2022-08-09 14:12:06.6029,NaN
3,ABW,2016-01-01 00:00:00,2016-12-31 00:00:00,synthetic-fertilizer-application,n2o,NaN,tonnes,annual,2022-08-09 14:12:06.603748,NaN
4,ABW,2015-01-01 00:00:00,2015-12-31 00:00:00,synthetic-fertilizer-application,ch4,0.0,tonnes,annual,2022-08-09 14:12:06.60284,NaN

In [5]:
# List out the columns 
columns = df.columns

index = 0 
print("Column Index\t Column Name")
for column in columns:
    print(f"{index}\t\t {column}")
    index += 1

Column Index	 Column Name
0		 iso3_country
1		 start_time
2		 end_time
3		 original_inventory_sector
4		 gas
5		 emissions_quantity
6		 emissions_quantity_units
7		 temporal_granularity
8		 created_date
9		 modified_date

In [6]:
# Check the data type of the column's content
df.dtypes

iso3_country                  object
start_time                    object
end_time                      object
original_inventory_sector     object
gas                           object
emissions_quantity           float64
emissions_quantity_units      object
temporal_granularity          object
created_date                  object
modified_date                float64
dtype: object

#### Here are some of the keys for understanding pandas data types

object => String

float64 => Float

In [7]:
# Check on the overal distribution of all numerical data columns
df.describe()

       emissions_quantity  modified_date
count        4.883000e+03            0.0
mean         1.238618e+06            NaN
std          7.724008e+06            NaN
min          0.000000e+00            NaN
25%          0.000000e+00            NaN
50%          0.000000e+00            NaN
75%          8.839098e+04            NaN
max          1.252967e+08            NaN